# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
tmp/
temp/

# Streamlit secrets
.streamlit/secrets.toml

.for_me.txt

outputs/
*.log
.env.example
